{% extends "base.html" %}
{% block title %}Home{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block content %}
<body>
    <div class="box">
        <h1 class="display-4" id="header">ДАРОВАААА МАССИИИИИК!!!!!</h1>
        <p>После отчисления из Гарвардского Университета Ньюэлл проработал 13 лет в Microsoft, став в конечном счёте миллионером. Ньюэлл сам себя называет «продюсером первых трёх выпусков Windows». Вдохновлённые результатами работ Майкла Абраша, который ранее покинул корпорацию Microsoft для создания компьютерной игры Quake от id Software, Ньюэлл с другим работником Microsoft, Майком Харрингтоном, также покинули Microsoft и создали студию Valve в 1996 году.

            Ньюэлл вместе с Харрингтоном использовали свой личный капитал для финансирования Valve и последующей разработки игры Half-Life. В этих целях был куплен исходный код движка Quake engine, который в дальнейшем был сильно переработан. В 1998 году в свет вышла серия игр Half-Life, ставшая основой для таких популярных игр и модификаций, как Counter-Strike и Team Fortress Classic. Вскоре после выхода Half-Life компания принялась за разработку второй части игры. В 2000 году Харрингтон покинул компанию, после чего Ньюэлл выкупил его долю. По приблизительным оценкам различных источников, к 2011 году стоимость Valve Corporation составляла от 2 до 4 млрд долларов. По словам самого Ньюэлла, компания чрезвычайно прибыльна — в пересчёте на сотрудника прибыльнее, чем Google и Apple. В начале 2011 года штат компании насчитывал 250 человек, к концу 2012 он вырос до 400 служащих, при этом около половины сотрудников компании — бывшие создатели модификаций к играм.
            
            В 2007 году Ньюэлл открыто выразил своё недовольство различными ограничениями игровых консолей, с которыми сталкиваются разработчики игр. В частности, он негативно отметил политику Sony по отношению к системе PlayStation 3[6].
            
            В декабре 2010 года журнал Forbes включил Гейба Ньюэлла в свой список людей, которые в 2011 году окажут существенное влияние в сфере своего бизнеса. Ньюэлл был включён в список главным образом за работу его компании над сервисом цифровой дистрибуции Steam, а также за партнёрские отношения с некоторыми крупными разработчиками компьютерных игр. В 2012 году Ньюэлл вошёл в список самых богатых людей мира по версии журнала Forbes, заняв 854 место в мире и 303 место в США. По оценкам экспертов, его заработок в это время составлял 1,5 миллиарда долларов. </p> 
    </div>
    <div class="box">
        <div class="container">
            <h2>Чем дальше в лес, тем больше скибиди-доп-доп-йес-йес</h2>
            <h1>Кто был тута</h1>
        <ul>
            {% for user in users %}
                <li>
                    <a href="{{ url_for('user_posts', user_id=user.id) }}">{{ user.name }}</a>
                </li>
            {% endfor %}
        </ul>
        </div>
    </div>
</body>
{% endblock %}
