{% extends "base.html" %}
{% block title %}Home{% endblock %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
{% block content %}
<body>
    <h1>Айдишка клоуна номер {{ user_id }}</h1>
    <a href="{{ url_for('index') }}">Вернуться назад</a>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                <p>{{ post.body }}</p>
            </li>
        {% endfor %}
    </ul>
</body>
{% endblock %}

