{% extends "base.html" %}
{% block title %}Static View{% endblock %}
{% block content %}
<div class="container">
    <div class="box">
        <h2  class="header">Для связи)</h2>
        <p>Если хотите обратиться к создателю сайта, пишите: (не пишите, вам здесь не рады)</p>
        <p><strong>Email adress:</strong> пукпупкпукпупк@gmail.com</p>
        <p><strong>Phone number:</strong> писяпопасисякака</p>
        <p><strong>Location:</strong> ШАМПУНЬ ЖУМАЙСЫНБА</p>
    </div>
</div>
{% endblock %}
